* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #282a36;
  --main-color: #bd93f9;
  --caret-color: #bd93f9;
  --sub-color: #6272a4;
  --sub-alt-color: #20222c;
  --text-color: #f8f8f2;
  --error-color: #f55;
  --error-extra-color: #f1fa8c;
  --colorful-error-color: #f55;
  --colorful-error-extra-color: #f1fa8c;
}

body {
  font-family: "Roboto Mono";
  background-color: var(--bg-color);
  color: var(--text-color);
}

::selection {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.home {
  display: grid;
  justify-items: center;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 1200px;
}

.header h2 {
  margin-right: 30px;
}

.header img {
  width: 75px;
  border: 1px solid var(--main-color);
}

.imageContainer {
  margin: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.background {
  border: 2px solid var(--main-color);
  width: 1256px;
  height: 782px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background button {
  width: 20%;
  height: 20%;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 20px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border: 5px solid var(--bg-color);
}

.background button:hover {
  background-color: var(--sub-color);
}

.background button:active {
  background-color: var(--bg-color);
  border: 5px solid var(--text-color);
  color: var(--text-color);
}

.background img {
  user-select: none;
}

.header p.cross {
  text-decoration-line: line-through;
  color: var(--error-color);
}

p.eliminate {
  position: absolute;
  font-size: 70px;
  color: var(--error-color);
  margin-top: -20px;
  user-select: none;
  text-decoration: none;
  visibility: hidden;
}

p.eliminate.cross {
  visibility: visible;
  text-decoration: none;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: var(--main-color);
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.form-group {
  margin: 5px;
}

button {
  padding: 8px;
  margin-left: 10px;
  border-radius: 8px;
  border: 3px solid var(--bg-color);
  background-color: var(--main-color);
  color: var(--bg-color);
}

button:hover {
  background-color: var(--sub-color);
}

button:active {
  background-color: var(--sub-alt-color);
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

input[type="text"] {
  padding: 5px;
  margin-left: 5px;
  border: none;
  outline: none;
  background-color: var(--sub-color);
  color: var(--text-color);
}

input[type="text"]::placeholder {
  color: var(--sub-alt-color);
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.leaderboard h3 {
  margin: 30px 0px 20px 0px;
}